body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container-p{
  padding: 1em 0;
  height: 350px;
  /* float: left; */
  width: 100%;
}
/* @media screen and (max-width: 640px){
  .container-p{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container-p{
    width: 33.33333%;
  }
} */

.container-p .title-p{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content-p {
  position: relative;
  width: 90%;
  /* max-width: 400px; */
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.content-p .content-overlay-p {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: -40;
  top: -40;
  border-bottom-right-radius: 500px;
  bottom: 40;
  right: 40;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;

}

.content-p:hover .content-overlay-p{
  opacity: 1;
}

.content-image-p{
  width: 100%;
  height: 370px;
  border-radius: 10px;
}

.content-details-p {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-p:hover .content-details-p{
  top: 30%;
  left: 40%;
  opacity: 1;
}

.content-details-p h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details-p p{
  color: #fff;
  font-size: 1em;
  font-family: 'Times New Roman', Times, serif;
}

.fadeIn-bottom-p{
  top: 80%;
}

.fadeIn-top-p{
  top: 20%;
}

.fadeIn-left-p{
  left: 20%;
}

.fadeIn-right-p{
  left: 80%;
}